ARCHITECT_APP_NAME="Architect Runner MVP"
ARCHITECT_APP_URL="http://localhost:3000"
ARCHITECT_ENV="development"

NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

SUPABASE_SERVICE_ROLE_KEY=""

ARCHITECT_MACHINE_TOKEN_SECRET=""
ARCHITECT_PAIRING_TOKEN_EXPIRY_MINUTES="20"

ARCHITECT_RUNNER_VERSION="0.1.0"
ARCHITECT_RUNNER_POLL_INTERVAL_MS="5000"
ARCHITECT_RUNNER_HEARTBEAT_INTERVAL_MS="15000"
ARCHITECT_RUNNER_OFFLINE_THRESHOLD_SECONDS="90"

ARCHITECT_MAX_LOG_MESSAGE_CHARS="10000"
ARCHITECT_MAX_COMMAND_OUTPUT_CHARS="20000"

ARCHITECT_ENABLE_ARBITRARY_COMMANDS="false"
ARCHITECT_ENABLE_PRODUCTION_DEPLOYMENTS="false"
ARCHITECT_ENABLE_DATABASE_RESET="false"

OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""
GITHUB_TOKEN=""
VERCEL_TOKEN=""
